/*------FOOTER-----*/

.flex-container, .flex-container-2 {
    display: flex;
    justify-content: space-between; /* Distribute items equally with space in between */
    width: 100%;
    margin: 0;
    padding: 2% 0; /* Add padding to create space between the border and items */
    border-top: 2px solid black;
  }

.flex-container {
    align-items: flex-end;
}

.flex-container-2 {
  align-items: flex-start;
}

  
  /* Style individual flex items */
  .flex-item {
    flex: 1; /* Each item takes up equal space */
    padding: 10px 0;
    text-align: left;
  }
  
  /* Adjust spacing for the third and fourth items */
  .flex-item:nth-child(3) {
	margin-right: 80px; /* Larger spacing after the third item */
  }

  .special-heading {
    font-weight: bold;
  }

  @media only screen and (max-width: 600px) {
    /* Styles for screens with a maximum width of 600px (typical for mobile devices) */
  
    .flex-container,
    .flex-container-2 {
      flex-direction: column; /* Stack items vertically for smaller screens */
      align-items: baseline;
    }
  
    .flex-item:nth-child(3) {
      margin-right: 0; /* Remove right margin for the third item on smaller screens */
    }
  
    .google-map {
      padding-bottom: 30%; /* Adjust padding for the map container on smaller screens */
    }
  
    /* Add more styles as needed for optimal mobile display */
  }